<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
</head>

<body>
    <!-- import partial header -->
    {{> header}}

    <!-- calling screamIt helper passing in welcomeMessage -->
    <p>{{screamIt welcomeMessage}}</p>


    {{> footer}}

</body>

</html>